################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Лабораторные работы по классам/lab12/lab12_1/.vs/lab12_1
/Лабораторные работы по классам/lab12/lab12_2/.vs/lab11_2
/Лабораторные работы по классам/lab12/lab12_3/.vs/lab12_3
/Лабораторные работы по классам/граф/.vs/graf
/Лабораторные работы по классам/граф/Source.cpp
/Лабораторные работы по классам/.vs
